<!-- Meltdown page -->

<!-- Page 2 page -->
  <div class='button0'>HELP ME NOW</div>
  <div class='button1'><p class='button_text'>My child is angry<p></div>
  <div class='button2'><p class='button_text'>My child is hurting me<p></div>
  <div class='button3'><p class='button_text'>My child is hurting himself<p></div>
  <div class='button4'><p class='button_text'>My child wants to end his own life<p></div>

<!-- Control page from Self-Harming-->


<!-- Meditate resources goes here from Screaming or Control -->

<!-- Suicide Control page -->

<!-- Control page from Self-Harming-->


<!-- Helpline page page -->


<!-- Glad to have helped page -->
