<h1>What are you struggling with?</h1>
<div class='container_problem'>
  <a href='/resources.html'><div class='button1_problem'><p class='button_text_problem'>Autism spectrum disorder<p></div></a>
  <a href='/resources.html'><div class='button1_problem'><p class='button_text_problem'>Taking care of your mental health<p></div></a>
  <a href='/resources.html'><div class='button1_problem'><p class='button_text_problem'>Eating well<p></div></a>
  <a href='/resources.html'><div class='button1_problem'><p class='button_text_problem'>Getting active<p></div></a>
</div>
