<h1>How can we help?</h1>

<div class='container'>
  <a href='/tips.html'><div class='button1_home'><p class='button_text_home'>Tips and tricks<p></div></a>
  <a href='/resources.html'><div class='button2_home'><p class='button_text_home'>Resources</div></a>
</div>
