<a href='/tips.html'><div class='button1_home'><p class='button_text_home'>TIPS AND TRICKS<p></div></a>
<a href='/resources.html'><div class='button2_home'><p class='button_text_home'>RESOURCES<p></div></a>
