<!-- Page 2 page -->
  <div class='button1_problem'><p class='button_text_problem'>My child is angry<p></div>
  <div class='button2_problem'><p class='button_text_problem'>My child is hurting me<p></div>
  <div class='button3_problem'><p class='button_text_problem'>My child is hurting himself<p></div>
  <a href='/needs.html'><div class='button4_problem'><p class='button_text_problem'>My child wants to end his own life<p></div></a>

<!-- Control page from Self-Harming-->


<!-- Meditate resources goes here from Screaming or Control -->

<!-- Suicide Control page -->

<!-- Control page from Self-Harming-->


<!-- Helpline page page -->


<!-- Glad to have helped page -->
