  <div id="map" style="width: 500px; height: 400px;"></div>


  <script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 6,
    center: new google.maps.LatLng(43.7181553, -79.5184867),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });


  // function loadURL(marker){
  //   return function(){
  //     window.location.href = marker.url;
  //   };
  // };
  //
  // function initialize(){

    var northLocations = [
      {lat: 44.186528, lng: -80.258501},
      {lat: 43.694642, lng: -80.266464},
      {lat: 43.717821, lng: -81.169360},
      {lat: 44.371075, lng: -81.169981}

    ];

    var northToronto = new google.maps.Polygon({
    paths: northLocations,
    strokeColor: '#0000FF',
    strokeOpacity: 0.6,
    strokeWeight: 2,
    fillColor: '#0000FF',
    fillOpacity: 0.35

  });

  northToronto.setMap(map);
  google.maps.event.addListener(northToronto, "click", function() { window.location = "http://www.yahoo.com" });

  var southLocations = [
    {lat: 44.186528, lng: -80.258501},
    {lat: 44.215439, lng:  -79.159759},
    {lat: 43.736090, lng: -79.226786},
    {lat: 43.694642, lng: -80.266464}
  ];

  var southToronto = new google.maps.Polygon({
  paths: southLocations,
  strokeColor: '#FF0000',
  strokeOpacity: 0.6,
  strokeWeight: 2,
  fillColor: '#FF0000',
  fillOpacity: 0.35

  });

  southToronto.setMap(map);
  google.maps.event.addListener(southToronto, "click", function() { window.location = "http://www.google.com" });

  var eastLocations = [
    {lat: 43.694642, lng: -80.266464},
    {lat: 42.915519, lng: -80.255903},
    {lat: 42.907505, lng: -81.647323},
    {lat: 43.717821, lng: -81.169360}
  ];

  var eastToronto = new google.maps.Polygon({
  paths: eastLocations,
  strokeColor: '#00FF00',
  strokeOpacity: 0.6,
  strokeWeight: 2,
  fillColor: '#00FF00',
  fillOpacity: 0.35

  });
  eastToronto.setMap(map);
  google.maps.event.addListener(eastToronto, "click", function() { window.location = "http://www.facebook.com" });

  var westLocations = [
    {lat: 43.140274, lng: -80.255477},
    {lat: 42.915519, lng: -80.255903},
    {lat: 43.736090, lng: -79.226786},
    {lat: 43.694642, lng: -80.266464}
  ];

  var westToronto = new google.maps.Polygon({
  paths: westLocations,
  strokeColor: '#FFFF00',
  strokeOpacity: 0.6,
  strokeWeight: 2,
  fillColor: '#FFFF00',
  fillOpacity: 0.35

});

  westToronto.setMap(map);
  google.maps.event.addListener(westToronto, "click", function() { window.location = "http://www.linkedin.com" });


//***********FOR INDIVIDUAL MARKERS**************************//
  //   var infowindow = new google.maps.InfoWindow();
  //   var marker, i;
  //   for (i = 0; i < locations.length; i++) {
  //     marker = new google.maps.Marker({
  //       position: new google.maps.LatLng(locations[i][1], locations[i][2]),
  //       map: map,
  //       title: locations[i][0],
  //       url: locations[i][3]
  //     });
  //     google.maps.event.addListener(marker, 'click', loadURL(marker));
  //   };
  // // };
  // </script>
