<div class='button1_problem'><p class='button_text_problem'>NORTH<p></div>
<div class='button2_problem'><p class='button_text_problem'>EAST<p></div>
<div class='button3_problem'><p class='button_text_problem'>SOUTH<p></div>
<div class='button4_problem'><p class='button_text_problem'>WEST<p></div>
<a href='/subregion.html'><div class='button1_problem'><p class='button_text_problem'>TORONTO<p></div></a>
