<h1>How can we help?</h1>
<div class='container_resource'>
  <a href='/tips.html'><div class='button1_problem'><p class='button_text_problem'>Tips and tricks<p></div></a>
  <a href='/people.html'><div class='button1_problem'><p class='button_text_problem'>Connect to people with lived experiences<p></div></a>
  <a href='/people.html'><div class='button1_problem'><p class='button_text_problem'>Immediate response/crisis information<p></div></a>
  <a href='/people.html'><div class='button1_problem'><p class='button_text_problem'>Places you can go for help<p></div></a>
  <a href='/people.html'><div class='button1_problem'><p class='button_text_problem'>People that can come to you for help<p></div></a>
  <a href='/people.html'><div class='button1_problem'><p class='button_text_problem'>Online resource tools<p></div></a>
</div>
