<h1>Tips & Tricks to Calm Autistic Kids</h1>

<fieldset id='tips_box_one'>
  <legend>CHILD IS ANGRY</legend>
  <img src="images/angry-256.png" id="angry" width="128" height="128">
  <ul>
    <li><img id="quiet" src="images/quiet-256.png" width="128" height="128"/></li>
    <li><img id="meditation" src="images/meditation-256.png" width="128" height="128"/></li>
    <li><img id="teddy" src="images/teddy-bear-256.png" width="128" height="128" /></li>
    <li><img id="hug" src="images/hug-256.png" width="128" height="128"/></li>
    <li><img id="tv" src="images/television-256.png" width="128" height="128"/></li>
    <li><img id="painter" src="images/painter-256.png" width="128" height="128"/></li>
    <li><img id="singer" src="images/singer-256.png" width="128" height="128"/></li>
    <li><p>Call Help Line at 1866-531-2600</p></li>
  </ul>
</fieldset>

<fieldset id='tips_box_two'>
  <legend>CHILD SELF HARMS</legend>
  <img src="images/bang-on-wall-256.png" id="harm" width="128" height="128">
  <ul>
    <li><img id="quiet2" src="images/quiet-256.png" width="128" height="128"/></li>
    <li><img id="head" src="images/head-protection-256.png" width="128" height="128"/></li>
    <li><img id="love" src="images/hug-256.png" width="128" height="128"/></li>
    <li><img id="singing" src="images/singer-256.png" width="128" height="128"/></li>
  </ul>
</fieldset>

<fieldset id='tips_box_three'>
  <legend>CHILD IS SUICIDAL</legend>
  <img src="images/suicide-256.png" id="suicide" width="128" height="128">
  <ul>
    <li><img id="pills" src="images/pills-256.png" width="128" height="128"/></li>
    <li><p>Call Help Line at 416-408-4357</p></li>
  </ul>
</fieldset>

<fieldset id='tips_box_four'>
  <legend>CHILD IS VIOLENT</legend>
  <img src="images/violent-256.png" id="violent" width="128" height="128">
  <ul>
    <li><img id="lightoff" src="images/light-off-256.png" width="128" height="128"/></li>
    <li><img id="pills2" src="images/pills-256.png" width="128" height="128"/></li>
    <li><p>Call Help Line at 1866-531-2600</p></li>
  </ul>
</fieldset>
