<h1>Tips & Tricks to Calm Autistic Kids</h1>

<fieldset id='tips_box_one'>
  <legend>CHILD IS ANGRY</legend>
  <img src="images/angry-256.png" id="angry" width="128" height="128">
</fieldset>

<fieldset id='tips_box_two'>
  <legend>CHILD SELF HARMS</legend>
  <img src="images/bang-on-wall-256.png" id="harm" width="128" height="128">
</fieldset>

<fieldset id='tips_box_three'>
  <legend>CHILD IS SUICIDAL</legend>
  <img src="images/suicide-256.png" id="suicide" width="128" height="128">
</fieldset>

<fieldset id='tips_box_four'>
  <legend>CHILD IS VIOLENT</legend>
  <img src="images/violent-256.png" id="violent" width="128" height="128">
</fieldset>

<div class="textbox">

</div>
