<h1>Tips & Tricks to Calm Autistic Kids</h1>

<fieldset id='tips_box_one'>
  <legend>CHILD IS ANGRY</legend>

</fieldset>

<fieldset id='tips_box_two'>
  <legend>CHILD SELF HARMS</legend>


</fieldset>

<fieldset id='tips_box_three'>
  <legend>CHILD IS SUICIDAL</legend>


</fieldset>

<fieldset id='tips_box_four'>
  <legend>CHILD IS VIOLENT</legend>


</fieldset>
